

/* .mystorepage {
  box-sizing: border-box;
  margin-top: 10%;
} */

.related-section {
  margin-top: 80px;
  padding-top: 18px; 
}
.mystorepage {
  padding-top: 180px; 
}

.mystorepage .related-section {
  margin-top: 0;
}  
